{% extends "base.html" %}

{% block content %}
<b>Add new author below or:</b> <a href="{% url 'authors:scrape' %}" role="button" class="primary outline">Scrape authors from quotes.toscrape.com</a>
<form method="POST" action="{% url 'authors:add' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label><b>Enter author details:</b>
            {{form.as_p}}
        </label>

        <span>{{ form.errors.name }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}