{% extends "base.html" %}

{% block content %}

{% for author in authors %}
    <ul>
        <li>
            <a href="{% url 'authors:details' author.id %}" role="button" class="primary outline">{{ author.fullname }}</a>
        </li>
    </ul>
    {% endfor %}
<hr><br/>

{% if authors.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{authors.previous_page_number}}">Previous</a>

{% endif %}

Page {{authors.number}} of {{authors.paginator.num_pages}}

{% if authors.has_next %}
    <a href="?page={{authors.next_page_number}}">Next</a>
    <a href="?page={{authors.paginator.num_pages}}">Last &raquo</a>

{% endif %}

{% endblock %}