{% extends "base.html" %}

{% block content %}

{% for quote, tags in quotes %}
    <ul>
        <li>
            <p>{{ quote.quote }}</p>
            <a href="{% url 'authors:details' quote.author.id %}" role="button" class="primary outline">{{ quote.author.fullname }}</a>
            {% for tag in tags %}
            <a href="{% url 'tags:details' tag.id %}" role="button" class="secondary outline"># {{ tag.name }}</a>
            {% endfor %}

        </li>
    </ul>
    {% endfor %}
{% endblock %}